body{
 background:#0f0f0f;
 color:white;
 text-align:center;
 font-family:Arial;
}

canvas{
 border:2px solid white;
 max-width:90%;
 aspect-ratio:9/16;
}

button{
 padding:12px 20px;
 background:#00ffcc;
 border:none;
 font-weight:bold;
}
